<% if current_user.admin? || (current_user == model.submitting_author) %>
  <div class="card">
    <div class="card-header">
      Model actions
    </div>
    <div class="card-body">
      <p class="card-text">Available actions for you on this model</p>

      <div class="row">
        <% if current_user.admin? %>
          <% unless model.meta_review_issue_id %>
          <div class="col-md-4">
            <%= form_tag(start_meta_review_model_url(model), class: "left") do %>
              <%= select_tag :editor, options_for_select(Repository.editors, selected: model.suggested_editor), include_blank: true, prompt: "Select editor", class: "form-control left" %>
              <%= submit_tag "Start meta review", class: "btn btn-primary left start-review" %>
            <% end %>
          </div>
          <% end %>

          <% unless model.review_issue_id %>
          <div class="col-md-3">
            <%= button_to "Reject model", reject_model_path(model), data: { confirm: "Are you sure?" }, form_class: "left", class: "btn btn-danger" %>
          </div>
          <% end %>
        <% end %>

        <% if (current_user == model.submitting_author) || current_user.admin? %>
          <div class="col-md-3">
            <%= button_to "Withdraw model", withdraw_model_path(model), data: { confirm: "Are you sure?" }, form_class: "left", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br />
<% end %>
