<% models.each do |model| %>
<% unless model.submitted? %>
<div class="model-card">
  <div class="row">
    <div class="col-lg-9">
      <%= pretty_status_badge(model) %> <%= time_words(model) %>
      <h2 class="model-title"><%= link_to model.title, model.seo_url %>
      </h2>
      <% model.language_tags.each do |tag| %>
      <span class="badge-lang"><%= link_to tag, models_by_language_path(language: tag) %></span>
      <% end %>
    </div>
    <div class="col-lg-3 model-meta">
      <div class="submitted_by">
        <%= link_to submittor_github(model), target: "_blank" do %>
        <%= image_tag submittor_avatar(model), size: "24x24" %>
        <%= model.submitting_author.pretty_github_username %>
        <% end %>
      </div>
      <div class="doi">
        <% if model.pretty_doi == "DOI pending" %>
        <%= image_tag 'doi.svg' %><%= link_to "Pending", model_path(model) %>
        <% else %>
        <%= image_tag 'doi.svg' %><%= link_to model.doi, model.seo_url %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
