<h4>INSTRUCTIONS</h4>

<p>Please review the recently-flagged submissions below and vote on the <%= Rails.application.settings["abbreviation"] %> model page whether you believe the submission is in scope, or out of scope.</p>

<% if @query_scope_issues.any? %>
  <% @query_scope_issues.each do |issue| %>
    <% unless Vote.has_vote_for?(issue.model, @editor) %>
      <% if issue.pre_review? %>
<h4><%= issue.title %> (<%= issue.model.created_at.strftime('%F') %>)</h4>
<p><%= issue.model.body %></p>
<p><%= link_to "VOTE ON SCOPE HERE", "#{Rails.application.settings["url"]}/models/#{issue.model.sha}" %> &middot; <%= link_to "View review issue", "https://github.com/#{Rails.application.settings['reviews']}/issues/#{issue.number}" %> &middot; <%= link_to "View software repository", issue.model.repository_url %></p>
<hr />
      <% end %>
    <% end %>
  <% end %>
<% end %>