**Submitting author:** <%= model.submitting_author.github_username %> (<%= link_to model.submitting_author.name, model.submitting_author.orcid_url %>)
**Repository:** <a href="<%= model.repository_url %>" target ="_blank"><%= model.repository_url %></a>
**Version:** <%= model.software_version %>
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** <%= eic_name %>

## Status

<%- url = Rails.application.settings["url"] %>
[![status](<%= url %>/models/<%= model.sha %>/status.svg)](<%= url %>/models/<%= model.sha %>)

Status badge code:

```
HTML: <a href="<%= url %>/models/<%= model.sha %>"><img src="<%= url %>/models/<%= model.sha %>/status.svg"></a>
Markdown: [![status](<%= url %>/models/<%= model.sha %>/status.svg)](<%= url %>/models/<%= model.sha %>)
```

**Author instructions**

<%- abbreviation, reviewers = Rails.application.settings.values_at("abbreviation", "reviewers") %>
<% if suggested_editor == "Pending" %>
Thanks for submitting your model to <%= abbreviation %> <%= model.submitting_author.github_username %>. **Currently, there isn't an <%= abbreviation %> editor assigned** to your model.
<% else %>
Thanks for submitting your model to <%= abbreviation %> <%= model.submitting_author.github_username %>. **Currently, there isn't an <%= abbreviation %> editor assigned** to your model.

The author's suggestion for the handling editor is <%= suggested_editor %>.
<% end %>

<%= model.submitting_author.github_username %> if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](<%= reviewers %>) have already agreed to review for <%= abbreviation %> and may be suitable for this submission (please start at the bottom of the list).

**Editor instructions**

The <%= abbreviation %> submission bot @med-oc is here to help you find and assign reviewers and start the main review. To find out what @med-oc can do for you type:

```
@med-oc commands
```
