<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero-small">
        <div class="text-center m-auto">
          <h1>About the <%= Rails.application.settings['name'] %></h1>
          <p class="lead">The ACCESS-NRI MED Portal is a cookbook of code examples to be used for model evaluation and diagnostics climate and earth system modelling.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-9" data-spy="scroll" data-target="#subnav" data-offset="0">
      <div id="about" class="generic-content-item">

        <%= render partial: "content/about/general" %>

      </div>

      <div id="submitting" class="generic-content-item">

        <h1>Scope & Submission Requirements</h1>

        <p>Not all software is eligible to be published on MED Portal.</p>

        <p>MED Portal publishes recipes about climate and earth system research software. </p>

        <p>A MED Portal submission must:</p>

        <ul>
          <li>Be open source (i.e., have an <%= link_to "OSI-approved license", "https://opensource.org/licenses/category", :target => "_blank" %>).</li>
          <li>Have an obvious research application.</li>
          <li>Be feature-complete (no half-baked solutions) and be designed for maintainable extension (not one-off modifications).</li>
          <li>Minor 'utility' packages, including 'thin' API clients, and single-function packages are not acceptable.</li>
        </ul>

        <p>Authors wishing to make a pre-submission enquiry should <%= link_to "open an issue", "https://github.com/#{Rails.application.settings["github"]}/issues/new?title=Pre-submission%20enquiry"%>.</p>
        <div class="alert alert-primary" role="alert">
          Look at the JOSS documentation for more information on <%=link_to "submitting information", "https://joss.readthedocs.io/en/latest/submitting.html" %>, <%=link_to "reviewer guidelines", "https://joss.readthedocs.io/en/latest/reviewer_guidelines.html" %>
        </div>
      </div>

      <div class="generic-content-item" id="editorial_board">
        <h1>Editorial Board</h1>

        <%- Editor.board.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h1 id="topic_editors">Topic Editors</h1>
        <%- Editor.topic.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <%
=begin%>
UNDO THIS COMMENT WHEN WE HAVE EDITORS EMERITUS
 <h1 id="editors_emeritus">Editors Emeritus</h1>
        <p><%= Editor.emeritus.order('last_name ASC').collect {|e| e.full_name
}.join(', ') %></p> 
<%
=end%>
      </div>

      <div class="generic-content-item" id="contact">
        <h1>Contact ACCESS-NRI</h1>

        <p>
          To suggest a feature, report a bug, or enquire about a possible submission in MED Portal, please <a href="https://github.com/<%= setting(:github) %>/issues/new">open a GitHub Issue</a>.
        </p>
        <p>
          If you need to contact ACCESS-NRI privately then you can <%= mail_to "access.nri@anu.edu.au", "email us" %>.
        </p>
      </div>

      <div class="generic-content-item" id="code_of_conduct">
        <h1>Code of Conduct</h1>

        <p>Although spaces may feel informal at times, we want to remind authors and reviewers (and anyone else) that
          this is a professional space. As such, the ACCESS-NRI community adheres to a code of
          conduct adapted from the
          <%= link_to "Contributor Covenant", "http://contributor-covenant.org", target: "_blank" %> code of conduct.
        </p>

        <p>Authors and reviewers will be required to confirm they have read our
          <%= link_to "code of conduct", "https://github.com/#{ setting(:github) }/blob/master/CODE_OF_CONDUCT.md", target: "_blank" %>,
          and are expected to adhere to it in all ACCESS-NRI spaces and associated interactions.</p>
      </div>

      <div class="generic-content-item" id="content_license">
        <h1>Content Licensing & Open Access</h1>
        <p>
          MED Portal is a <a href="https://en.wikipedia.org/wiki/Open_access#Diamond/platinum_OA" target="_blank">diamond/platinum open access</a> journal. Copyright of MED Portal papers is
          retained by submitting authors and accepted papers are subject to a <a rel="license"
            href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
            License</a>.</p>
        <p>Any code snippets included in MED Portal papers are subject to the <a
            href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> regardless of the license of the
          submitted software package under review.</p>
      </div>
    </div>
  <div class="col-lg-3 about-nav">
    <div class="sub-nav">
      <nav class="menu" id="subnav">
        <a class="menu-item selected" href="#about">About</a>
        <a class="menu-item" href="#submitting">Submission scope</a>
        <a class="menu-item" href="#editorial_board">Editors</a>
        <a class="menu-item" href="#contact">Contact ACCESS-NRI</a>
        <a class="menu-item" href="#code_of_conduct">Code of Conduct</a>
        <a class="menu-item" href="#content_license">Content Licensing &amp; Open Access</a>
      </nav>
    </div>
  </div>
</div>
