<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero-small">
        <div class="text-center m-auto">
          <h1>About the <%= Rails.application.settings['name'] %></h1>
          <p class="lead">The <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-9" data-spy="scroll" data-target="#subnav" data-offset="0">
      <div id="about" class="generic-content-item">

        <%= render partial: "content/about/general" %>

        <div class="alert alert-primary" role="alert">
          <%= link_to "🎉 Volunteer to review for #{setting(:abbreviation)} &xrarr;".html_safe, "/reviewer-signup.html" %>
        </div>
      </div>

      <div id="submitting" class="generic-content-item">

        <h1>Scope & submission requirements</h1>

        <p>Not all Model is eligible to be added to the catalog in UWC.</p>

        <p>Authors wishing to make a pre-submission enquiry should <%= link_to "open an issue", "https://github.com/#{Rails.application.settings["github"]}/issues/new?title=Pre-submission%20enquiry"%> on the <%= setting(:abbreviation) %> repository.</p>
        <div class="alert alert-primary" role="alert">
          <%= link_to "👀Full details about the #{setting(:abbreviation)} submission requirements and submission process&xrarr;".html_safe, "https://joss.readthedocs.io/en/latest/submitting.html" %>
        </div>
      </div>

      <div class="generic-content-item" id="editorial_board">
        <h1>Editorial Board</h1>

        <%- Editor.board.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 id="topic_editors">Topic Editors</h2>

        <%- Editor.topic.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 id="editors_emeritus">Editors Emeritus</h2>

        <%- Editor.emeritus.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>
      </div>

      <div class="generic-content-item" id="contact">
        <h1>Contact <%= setting(:abbreviation) %></h1>

        <p>
          To suggest a feature, report a bug, or enquire about a possible submission in <%= setting(:abbreviation) %>, please <a href="https://github.com/<%= setting(:github) %>/issues/new">open a GitHub Issue</a>.
        </p>
      </div>

      <div class="generic-content-item" id="code_of_conduct">
        <h1>Code of Conduct</h1>

        <p>Although spaces may feel informal at times, we want to remind authors and reviewers (and anyone else) that
          this is a professional space. As such, the <%= setting(:abbreviation) %> community adheres to a code of
          conduct adapted from the
          <%= link_to "Contributor Covenant", "http://contributor-covenant.org", target: "_blank" %> code of conduct.
        </p>

        <p>Authors and reviewers will be required to confirm they have read our
          <%= link_to "code of conduct", "https://github.com/#{ setting(:github) }/blob/master/CODE_OF_CONDUCT.md", target: "_blank" %>,
          and are expected to adhere to it in all <%= setting(:abbreviation) %> spaces and associated interactions.</p>
      </div>

      <div class="generic-content-item" id="ethics">
        <h1>Ethics Guidelines</h1>

        <h2 id="ethics-and-malpractice"><%= setting(:abbreviation) %> Publication Ethics and Malpractice Statement</h2>
        <b>Editorial Board</b>
        <ul>
          <li>The <%= setting(:abbreviation) %> editorial board's members are recognized experts in the field. The full names and affiliations of the members are provided on the journal’s website (see <a href="<%= setting(:url) %>/about#editorial_board">editorial board</a>). The individual editors' contact information are provided on that site, via their GitHub pages, and general contact information for the editorial office also on the <a href="<%= setting(:url) %>/about#contact">journal’s website</a>.</li>
        </ul>

        <b>Authors and Authors responsibilities</b>
        <ul>
          <li><%= setting(:abbreviation) %> does not charge any fees for manuscript processing and/or publishing materials, as is stated on the <a href="<%= setting(:url) %>/about#costs">journal's website</a>.</li>

          <li>Authors are obliged to participate in peer review process, as described in <a href="https://joss.readthedocs.io/en/latest/submitting.html#the-review-process">submission guidelines</a>.</li>

          <li>All authors have significantly contributed to the research. The submitting author is required to be a <a href="https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements">major contributor to the software</a> they are submitting and the review process includes a check that <em><a href="https://joss.readthedocs.io/en/latest/review_criteria.html#authorship">‘the full list of paper authors seems appropriate and complete?’</a></em>.</li>

          <li>All authors are obliged to provide retractions or corrections of mistakes (see <a href="<%= setting(:url) %>/about#ethics">ethics</a> and <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">what should my paper contain?</a>).</li>

          <li><%= setting(:abbreviation) %> papers are required to have a <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">list of references</a>, and <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">financial support</a>.</li>

          <li>Forbidden to publish same research in more than one journal (see <a href="<%= setting(:url) %>/about#ethics">ethics</a>).</li>
        </ul>

        <b>Review process</b>
        <ul>
        </ul>

      </div>

      <div class="generic-content-item" id="content_license">
        <h1>Content Licensing & Open Access</h1>
      </div>
    </div>
  <div class="col-lg-3 about-nav">
    <div class="sub-nav">
      <nav class="menu" id="subnav">
        <a class="menu-item selected" href="#about">About</a>
        <a class="menu-item" href="#submitting">Submission scope</a>
        <a class="menu-item" href="#editorial_board">Editorial Board</a>
        <a class="menu-item" href="#topic_editors">Topic Editors</a>
        <a class="menu-item" href="#editors_emeritus">Editors Emeritus</a>
        <a class="menu-item" href="#contact">Contact <%= setting(:abbreviation) %></a>
        <a class="menu-item" href="#code_of_conduct">Code of Conduct</a>
        <a class="menu-item" href="#ethics">Ethics Guidelines</a>
        <a class="menu-item" href="#content_license">Content Licensing &amp; Open Access</a>
      </nav>

      <a class="menu-btn" href="https://uwc.readthedocs.io/en/latest/submitting.html">Author information</a>
      <%= link_to "🎉 Volunteer to review".html_safe, "/reviewer-signup.html", class: "menu-btn" %>
      <a class="menu-btn" href="https://uwc.readthedocs.io/en/latest/reviewer_guidelines.html">Reviewer guidelines</a>
      </div>
    </div>
  </div>
</div>
