<div class="container">
  <div class="hero">
    <div class="hero-content col-lg-7">
      <h1>The <%= Rails.application.settings['name'] %></h1>
      <p class="lead">A Catalog of Model Evaluation Recipes for ACCESS Models.</p>
      <div class="hero-ctas">
        <%= link_to "Submit a recipe to #{Rails.application.settings['abbreviation']}".html_safe, new_model_path, class: "btn" %>
        <%= link_to "Volunteer to review".html_safe, "/reviewer-signup.html", class: "btn" %>
      </div>
    </div>

    <div class="hero-nav col-lg-4 offset-lg-1 align-self-end">
      <%= link_to models_path do %>
      <%= image_tag 'icon_models.svg' %>
      Explore Catalog
      <% end %>
      <%= link_to about_path do %>
      <%= image_tag 'icon_info.svg' %>
      Learn More
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h4>Recently Added Recipes <span class="badge-count"><%= Model.visible.count %></span></h4>

  <div class="model-list" id="all-models">
    <%= render partial: "models/list", locals: { models: @models } %>
  </div>

  <div class="my-5 text-center">
    <%= link_to "View all recipes".html_safe, published_models_path, class: "btn", data: { text: "View all models"} %>
  </div>
</div>
