<div class="row cc">
  <%= image_tag "ACCESS_Black.png", height: "65px" %>
  <p>
  <%= link_to "Documentation", "https://access-hive.org.au/" %>
  <br><%= link_to "Forum", "https://forum.access-hive.org.au/" %>
  <br><%= link_to "GitHub", "https://github.com/ACCESS-NRI" %>
  <br><%= link_to "ACCESS-NRI", "https://www.access-nri.org.au" %>
  </p>

</div>
