<div class="row cc">
  <%= link_to image_tag("ACCESS_Black.png", height: "65px"), '/' %>
  <p>
  <%= link_to "Hive Documentation", "https://access-hive.org.au/" %>
  <br><%= link_to "Hive Forum", "https://forum.access-hive.org.au/" %>
  <br><%= link_to "GitHub", "https://github.com/ACCESS-NRI" %>
  <br><%= link_to "ACCESS-NRI", "https://www.access-nri.org.au" %>
  <br>
  <br><%= link_to "This website is a fork of JOSS", "https://github.com/openjournals/joss"%>
  </p>
</div>
