<% papers.each do |paper| %>
<% unless paper.submitted? %>
<div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(<%= paper.img_url %>)"></div>
      <ul class="details center">
        <li class="submitted_by">
        <%= image_tag("github.svg", size: "24x24") %>
        <%= link_to paper.repository_url, target: "_blank" do %>
        <%= paper.pretty_repository_name %>
        <% end %>
        </li>
        <li class="submitted_by">
        <% if paper.doi.blank? %>
        <%= image_tag 'doi.svg', size: "24x24" %><%= link_to "Pending", paper_path(paper) %>
        <% else %>
        <%= image_tag 'doi.svg', size: "24x24" %><%= link_to paper.doi, paper.seo_url %>
        <% end %>
        </li>
        <li class="submitted_by">
        <%= image_tag 'icon_arrowright.svg', size: "24x24" %><%= link_to "Go To Paper", paper.seo_url %>
        </li>
      </ul>
    </div>
    <div class="description">
      <%= pretty_status_badge(paper) %> <%= time_words(paper) %>
      <h2 class="paper-title"><%= link_to paper.title, paper.seo_url %>
      </h2>
      <p>
        <% paper.language_tags.each do |tag| %>
          <span class="badge-lang"><%= link_to tag, papers_by_language_path(language: tag) %></span>
        <% end %>
        <% paper.author_tags.compact.each do |tag| %>
          <span class="badge-lang"><%= link_to tag, papers_by_tag_path(tag: tag) %></span>
        <% end %>
        </p>

      <p> <%= paper.scholar_authors %> </p>
    </div>
  </div>
<% end %>
<% end %>
