
<h3>What is this portal about?</h3>

<p>
  The <%= Rails.application.settings['name'] %> (<%= Rails.application.settings['abbreviation'] %>) is ...
  Upon acceptance into <%= Rails.application.settings['abbreviation'] %>, a DOI is minted and we list your recipe on the <%= Rails.application.settings['abbreviation'] %> website.
</p>

<p>
  We built this community because we believe that ...
</p>

<p>
  We have a simple submission workflow and <%= link_to "extensive documentation", "", target: "_blank" %> to help you prepare your
  submission.
</p>
